.filter-container {
	display: flex;
	align-items: center;
	color: $grey-light;
	padding-top: 15px;
	padding-bottom: 15px;

	.filter-metainfo {
		display: inline-block;
		margin-right: auto;
		width: 100%;
	}

	.filter-order,
	.filter-likes {
		display: flex;
		align-items: center;
		color: $red;
		span {
			display: none;
		}
		@include min-width('lg') {
			padding-left: 10px;
			padding-right: 10px;
			span {
				display: inline-block;
				color: lighten($red, 25%);
			}
		}
	}

	.filter-order {
		margin-left: auto;

		span {
			padding-left: 10px;
			padding-right: 10px;
		}
		.icon {
			display: none;
			@include min-width('lg') {
				display: inline-block;
			}
		}
		&:before {
			content: 'A/Z';
			display: inline-block;
			font-weight: 600;
			margin-right: 10px;
			@include min-width('lg') {
				content: none;
			}
		}
	}
}
