.form-input {
	$input-size: 50px;
	position: relative;
	background: $red-light;
	height: $input-size;
	border-radius: $input-size;
	display: flex;

	label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: $input-size;
		height: $input-size;
		margin-right: $input-size / 4;
	}

	input {
		display: flex;
		flex: 1;
		background-color: transparent;
		border: none;
		color: $red;
		font-family: $font-family;
		font-size: 18px;
		font-weight: 500;
		padding-right: 15px;

	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: lighten($red, 20%);
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: lighten($red, 20%);
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: lighten($red, 20%);
	}
	:-moz-placeholder { /* Firefox 18- */
		color: lighten($red, 20%);
	}
}
