#header {
	.container {
		display: flex;
		justify-content: center;
	}
}

#header.inline {
	margin-bottom: 50px;
	@include min-width('md') {
		margin-bottom: 100px;
	}

	.container {
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@include min-width('md') {
			flex-direction: row;
		}
	}

	a {
		display: inline-block;
		width: 100%;
		max-width: 50vw;
		min-width: 350px;
		margin-bottom: 30px;
		@include min-width('md') {
			max-width: 155px;
			min-width: initial;
			position: absolute;
			margin-bottom: 0px;
		}
	}

	.logo {
		width: 100%;
		height: auto;
	}

	.form-input {
		width: 100%;
		height: 40px;
		background-color: $white;
		margin-left: auto;
		margin-right: auto;

		label {
			width: 40px;
			height: 40px;
		}

		input {
			font-size: 1em;
			color: $grey;
		}

		@include min-width('md') {
			max-width: calc(100% - 400px);
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: lighten($grey, 20%);
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: lighten($grey, 20%);
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: lighten($grey, 20%);
	}
	:-moz-placeholder { /* Firefox 18- */
		color: lighten($grey, 20%);
	}
}
