.container > .heroes-list {
	margin-left: -15px;
	margin-right: -15px;
}

.heroes-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	.heroes-list-item {
		width: 100%;
		margin-bottom: 30px;
	}

	img {
		width: 100%;
		height: auto;
	}

	@include min-width('md') {
		.heroes-list-item {
			width: 33.33%;
		}
	}

	@include min-width() {
		.heroes-list-item {
			width: 25%;
		}
	}
}

.heroes-not-found {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.heroes-list-item {

	a {
		display: block;
		padding: 15px;
		text-decoration: none;
		color: $grey-dark;
		font-weight: 500;
	}

	figure {
		position: relative;
		margin: 0;
		height: 0;
		padding-bottom: 100%;
		border-bottom: 5px solid $red;

		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.heroes-item-info {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 65px;
		position: relative;
	}

	.heroes-item-name {
		display: block;
		font-weight: 600;
	}

	.like-action {
		position: absolute;
		right: 0;
		top: 0;
	}
}
