#root.details-page {
    background-color: $blue-light;
}

.hero-description {
	position: relative;
	z-index: 1;
	margin-bottom: 100px;
	color: $grey-dark;

	p {
		color: $grey;
		line-height: 1.5em;
		font-weight: 500;
	}

	&:before {
		content: attr(data-name);
		display: block;
		position: absolute;
		font-size: 15em;
		text-transform: uppercase;
		font-weight: 900;
		color: $white;
		z-index: -1;
		left: 0%;
		top: 0%;
		right: 0;
		height: 1.25em;
		overflow: hidden;
	}

	@include min-width('md') {
    display: flex;
	}
}

.hero-info {
	width: 100%;

	.hero-info-header {
		padding-right: 50px;
		position: relative;
	}

	.hero-info-name {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 2em;
		margin-bottom: 30px;
			margin-top: 0;
	}

	.like-action {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 50px;
	}

	@include min-width('md') {
		max-width: 50%;
		padding-right: 15px;
	}

	@include min-width('lg') {
		max-width: 42.5%;
		padding-right: 30px;
	}
}

.hero-image {
	width: 100%;
	position: relative;

	&:before {
		content: '';
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		display: block;
	}
	img {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	@include min-width('md') {
		max-width: 50%;
	}

	@include min-width('lg') {
		max-width: 57.5%;
	}
}

.hero-metainfo {
	width: 100%;

	strong {
		margin-bottom: 15px;
		margin-right: 10px;
		font-weight: 600;
	}

	div {
		display: flex;
    	align-items: center;
		height: 50px;
	}

	.icon {
		margin-right: 3px;
	}

	td {
		padding-bottom: 15px;
	}

	.hero-metainfo-books,
	.hero-metainfo-movies {
		.icon {
			margin-right: 10px;
		}
		strong {
			display: block;
			width: 100%;
			margin-right: 0px;
		}
	}

	.hero-metainfo-rating {
		.icon {
			opacity: 0.25;
		}

		.icon.active {
			opacity: 1.0;
		}
	}
}
