.container > .hero-comics {
	margin-left: -15px;
	margin-right: -15px;

	@include min-width() {
		margin-left: -22.5px;
		margin-right: -22.5px;
	}
}

.hero-comics {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;

	.hero-comic {
		width: 100%;

		@include min-width('md') {
			max-width: 33.33%;
		}

		@include min-width('lg') {
			max-width: 20%;
		}
	}

	.hero-comic > div {
		padding: 15px;
		@include min-width() {
			padding: 22.5px;
		}
	}

	strong {
		display: block;
		margin-top: 25px;
		@include min-width('md') {
			margin-bottom: 50px;
		}
	}

	figure {
		position: relative;
		height: 0;
		padding-bottom: 150%;
		margin: 0;
		margin-bottom: 7.5px;
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

}
