.like-action {
	background-color: transparent;
	border: none;
	height: 50px;
	width: 50px;
	cursor: pointer;

	svg path,
	svg g {
		color: transparent;
	}

	&.liked {
		svg path,
		svg g {
			color: $red;
		}
	}

	&:disabled {
		cursor: not-allowed;
		svg path,
		svg g {
			stroke: $grey-light;
		}
	}
}
