@keyframes rotate-foreground {
  from {
		transform: rotate(0deg);
	}
  to {
		transform: rotate(359deg);
	}
}

.loading-indicator {
	display: block;
	position: relative;
	margin: auto;
	width: 25px;
	height: 25px;
	z-index: 1;

	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: -4px;
		top: -4px;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		border-top: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 4px solid $grey-light;
		border-left: 4px solid $grey-light;
		z-index: -1;
		animation: rotate-foreground 1.5s linear infinite;
	}

	&:after {
		border-top: 4px solid $grey-dark;
		border-right: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid $grey-dark;
		animation: rotate-foreground 1.25s linear infinite;
	}
}
