.pagination {
	display: flex;
	width: 100%;
	padding-bottom: 15px;
	justify-content: center;

	span:not(.pagination-link) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.pagination-link {
		display: inline-block;
		color: $red;
		font-weight: 600;
		padding-left: 5px;
		padding-right: 5px;
		text-decoration: none;
	}

	.pagination-link:first-of-type {
		padding-left: 0;
	}
	.pagination-link:last-of-type {
		padding-right: 0;
	}

	.pagination-link[disabled] {
		opacity: 0.5;
		font-weight: 500;
		color: $grey;
	}
}

