.switch-input {
	$dot-size: 35px;
	display: block;
	width: $dot-size * 2;
	height: $dot-size;
	background-color: lighten($grey-light, 15%);
	position: relative;
	border: 0;
	border-radius: 25px;
	cursor: pointer;

	&:before {
		content: '';
		width: $dot-size - 13px;
		height: $dot-size - 13px;
		background-color: $red;
		position: absolute;
		border-radius: 100%;
		top: 6px;
		left: 6px;
		transition: all 0.25s;
		box-shadow: 0 2.5px 10px $red;
	}

	&.checked::before {
		left: $dot-size + 6px;
	}
}
