body, html, #root {
  font-family: $font-family;
	min-height: 100vh;
	font-weight: 500;
	color: $grey-dark;
}

body, html {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-md;
  padding-left: $gutter;
	padding-right: $gutter;

	&.full {
		max-width: $max-width-lg;
	}

	@include min-width('md') {
		padding-left: $gutter * 2;
		padding-right: $gutter * 2;
	}
}

button:focus {
	outline: none;
}

.text-red {
	color: $red;

	&.light {
		color: $red-light
	}
}

.text-blue {
	color: $blue-light;
}

.text-grey {
	color: $grey;

	&.dark {
		color: $grey-dark;
	}

	&.light {
		color: $grey-light;
	}
}

@each $transform in ("capitalize", 'lowercase', "uppercase") {
	.text-#{$transform} {
		text-transform: #{$transform};
	}
}

@each $alignment in ("right", 'left', "center") {
	.text-#{$alignment} {
		display: block;
		text-align: #{$alignment};
	}
}


.btn {
	display: inline-flex;
	text-align: center;
	background-color: $red-light;
	border-radius: 25px;
	height: 40px;
	padding: 5px 25px;
	align-items: center;
	color: $grey-dark;
	text-decoration: none;
}

.icon {

	path,
	g {
		color: $red;
		fill: currentColor;
	}
}
